# Remove index.php from the request but maintain the query string
RewriteEngine On
# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# send eveything else to the index page
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]